%h1= @room.name
- if can? :manage, @room
  =link_to "Delete this room", @room, :confirm => 'Are you sure?', :method => :delete 
- if can? :manage, @room
  =link_to "Edit this room", edit_room_path(@room)

%p Capacity:
= @room.capacity


