body {
  background-color: #DDD9DE;
  margin: 20px;
}

h1 {
  font: Helvetica;
  color: #0D0F7A

}

header {
  background-color: #F5821D;
  // margin: 10px;
  padding: 0, 5px, 0, 5px;
}

// .flash-message {
//   font-family: $plain-font;
//   padding: 5px 8px;
//   margin: 0;
//   border: $standard-border;
//   border-top:  none;
//   border-bottom: none;
//   &.flash-notice {
//     background-color: #CFC;
//   }

//   &.flash-error, &.flash-alert {
//     background-color: #FCC;
//   }
// }

// .error-messages {
//   font-family: $plain-font;
//   width: 400px;
//   border: 2px solid #CF0000;
//   padding: 10pxpx;
//   padding-bottom: 12px;
//   margin-bottom: 20px;
//   background-color: #f0f0f0;
//   font-size: 12px;
//   h2 {
//     text-align: left;
//     font-weight: bold;
//     padding: 5px 10px;
//     font-size: 12px;
//     margin: 0;
//     background-color: #c00;
//     color: #fff;
//   }
//   p {
//     margin: 8px 10px;
//   }
//   ul {
//     margin-bottom: 0;
//     padding-left: 25px;
//   }
// }